td.spot{
    border: 1px solid burlywood;

    &.empty{
        background-color: beige;
        color:navy;
    }

    &.owned{
        background-color: green;
    }
    
    &.enemy{
        background-color: brown;
    }
}



